.movie-list{
    margin: 20px 0px;
}

.movie-list h2{
    color: rgb(135, 166, 222);
    margin-bottom: 10px;
    font-weight: 400;
}

.movie-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 15px; */
    padding: 0px 40px;
}
.show-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 15px;
    padding: 0px 40px;
}