.movie-section{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 30px;
    color: blanchedalmond;
    font-weight: 400;
}
.movie-rating{
    padding-left: 20px;
    margin-top: 20px;
    color: chocolate;
    display: flex;
}
.movie-rating span{
    margin-right: 20px;
}

.movie-title{
    font-size: 40px;
    color: cornsilk;
}

.movie-plot{
    margin-top: 20px;
    line-height: 1.8rem;

}

.movie-info div span:first-child{
    padding: 10px 0px;
    color: chocolate;
    font-weight: 600;
    width: 100px;
    display: inline-block;

}

.movie-info >div span{
    color: cornsilk;
}