.card-item{
    background-color: rgb(35, 38, 51);
    cursor: pointer;
}
.card-item:hover{
    transform: scale(1.1);
    transition: 1.5s;
    overflow: hidden;
}
.card-top{
    height: 300px;
}

.card-top img{
    width: 100%;
    height: 100%;
}
.card-bottom{
    padding: 20px;

}

.card-info{
    color: rgb(102, 108, 133);
}

.card-info h4{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}