.header{
    background-color: rgb(35, 38, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 72px;
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}
.user{
    width: 38px;
    height: 38px;
}